In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('JPmorgan_chase_raw.csv')
df

,Institution Name,Main Office,Branch Name,Branch Number,Established Date,Acquired Date,Street Address,City,County,State,Zipcode,Latitude,Longitude,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,JPMorgan Chase Bank,1,JPMorgan Chase Bank Main Office,0,01/01/1824,NaN,1111 Polaris Parkway,Columbus,Delaware,OH,43240,40.14453,-82.99115,633131000.0,743268000.0,832455000.0,916543000.0,1.032549e+09,1.069425e+09,1155185000
1,JPMorgan Chase Bank,0,Vernon Hills Scarsdale Branch,2,03/20/1961,NaN,676 White Plains Road,Scarsdale,Westchester,NY,10583,40.97008,-73.80670,293229.0,310791.0,325742.0,327930.0,3.277920e+05,3.414750e+05,381558
2,JPMorgan Chase Bank,0,Great Neck Northern Boulevard Branch,3,09/09/1963,NaN,410 Northern Boulevard,Great Neck,Nassau,NY,11021,40.77944,-73.72240,191011.0,206933.0,216439.0,237983.0,2.341830e+05,2.624550e+05,278940
3,JPMorgan Chase Bank,0,North Hartsdale Branch,4,02/19/1966,NaN,353 North Central Avenue,Hartsdale,Westchester,NY,10530,41.02654,-73.79168,87110.0,88367.0,93163.0,109659.0,1.119850e+05,1.167720e+05,140233
4,JPMorgan Chase Bank,0,Lawrence Rockaway Branch,5,01/16/1965,NaN,335 Rockaway Turnpike,Lawrence,Nassau,NY,11559,40.62715,-73.73675,172608.0,172749.0,189413.0,198445.0,2.051980e+05,2.232000e+05,235594
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5408,JPMorgan Chase Bank,0,Alameda and Compton Blvd Branch,7981,11/03/2015,NaN,251 E Compton Blvd,Compton,Los Angeles,CA,90220,33.89601,-118.22084,NaN,NaN,NaN,NaN,NaN,NaN,3446
5409,JPMorgan Chase Bank,0,Charleston and Rancho,7982,02/02/2016,NaN,2311 W Chafrleston Blvd,Las Vegas,Clark,NV,89102,36.14270,-115.19043,NaN,NaN,NaN,NaN,NaN,NaN,2666
5410,JPMorgan Chase Bank,0,Los Olivos Branch,7984,03/15/2016,NaN,8593 Irvine Center Drive,Irvine,Orange,CA,92618,33.64412,-117.74453,NaN,NaN,NaN,NaN,NaN,NaN,6689
5411,JPMorgan Chase Bank,0,Lake Forest Branch,7988,01/01/2016,NaN,5660 Read Blvd,New Orleans,Orleans,LA,70127,30.03205,-89.97260,NaN,NaN,NaN,NaN,NaN,NaN,94133
5412,JPMorgan Chase Bank,0,Buffalo-Mm Branch,7989,01/01/2016,NaN,350 Main Street,Buffalo,Erie,NY,14202,42.88429,-78.87487,NaN,NaN,NaN,NaN,NaN,NaN,45596